## 1. Construye una serie a partir del siguiente diccionario: 
``` python

d = {'Alex': 6353, 'Wilmer': 9487, 'Isabel': 2233}
```

## 2. Ahora, crea la misma serie, pero crealo directamente con estos indices (lee la documentación si es necesario):

```python
nombres = ['Wilmer', 'Lucas', 'Manu']

```

Tras hacer el ejercicio, sale algo raro? Por qué?

## 3. Cuantos nulos hay en la serie anterior?

## 4. Cargar el archivo "titanic.csv" en un DataFrame y mostrar 5 filas aleatorias del conjunto de datos.

## 4a. Cuantas filas y columnas tiene el dataframe?

## 4.b Cuantos nulos hay en el dataframe?

## 4.c Puedes mostrarme, con una sola línea, las estadísticas del dataframe? (media, numero de filas no vacías, desviación típica, etc)

## 4.d Selecciona las columnas de pasajeros, edades y sobrevivieron.

## 5. Calcular el número total de pasajeros en el Titanic.

## 6. Determinar la cantidad de pasajeros que sobrevivieron y los que no sobrevivieron.

## 7. Calcular el porcentaje de pasajeros que sobrevivieron en el Titanic.

## 8. Encontrar la edad promedio de los pasajeros a bordo.

## 9. Calcular la cantidad de hombres y mujeres que viajaban en el Titanic.

## 10. Obtener el nombre de la persona más joven a bordo del Titanic.

## 11. Calcular la tarifa promedio pagada por los pasajeros del Titanic.

## 12. Encontrar el número de pasajeros en cada clase (primera, segunda y tercera).

## 13. Calcular la cantidad de pasajeros que viajaban solos en comparación con los que viajaban con familiares.

## 14. Encontrar la edad promedio de los pasajeros que sobrevivieron y los que no sobrevivieron.

## 15. Obtener el número de sobrevivientes por clase de pasajero.

## 16. Encontrar la tarifa más alta pagada por un pasajero a bordo.

## 17. Calcular la cantidad de pasajeros que tenían hermanos o cónyuges a bordo.


## 18. Determinar la cantidad de pasajeros que embarcaron en cada puerto (Cherburgo, Queenstown y Southampton).

## 19. Crea una copia del dataframe. A partir de ahora, trabajaras con esa copia.

## 20.Crea una columna que sea el doble de la tarifa.

## 21. Crea una columna que te coja la primera palabra después de la coma del nombre. Hazlo de forma directa y también con apply

## 22. Elimina las columnas de nombre y de tarifa.

## 23.Dame los valores únicos de la columna creada en el 21

## 24. Cambia el nombre de la columna Survived a: Sobrevivió.

## 25. Borra las filas 1, 32 y 48

## 26. Creame un grafico de barras que muestre cuantas personas sobrevivieron y cuantas no en función de su sexo.